@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

#about {
  scroll-margin-top: 80px;
  height: 600px;
  max-width: 100%;
  background-image: url("../resources/brown.png"), url("../resources/wall2.jpg");
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: white;
  font-family: "MedievalSharp", cursive;
}

#title {
  font-size: 50px;
  padding-left: 10%;
  padding-top: 3%;
}

#description {
  padding-left: 15%;
}
video {
  max-width: 100%;
  max-height: 200px;
}

@media (max-width: 1300px) {
  #about {
    height: fit-content;
  }
  #description,
  video {
    padding-left: 0%;
    margin-left: 13vw;
    max-width: 100%;
  }
  video {
    max-height: 200px;
    max-width: 100%;
    margin: 0%;
  }
}
