footer {
  width: 100%;
  background: rgb(94, 57, 8);
  height: 20px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: rgb(223, 161, 111);
  text-decoration: none;
}

footer span a:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 1300px) {
  footer {
    height: fit-content;
  }
}
